<div class="container-fluid">


  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h4 class="h3 mb-0 text-gray-800">Category: {{ currentCategoryName }}</h4>

  </div>
  
  
   
 
  <div  class="row mb-4">
    <div *ngFor="let product of products"  class="col-lg-2 col-md-5 col-sm-5 mb-4 "   >
      
        <div class="card h-100 border-success">
          <a routerLink="/products/{{ product.id }}">
            <img src="{{ product.imageUrl }}" class="card-img-top border-success" alt="...">
          </a>
          <div class="card-body">
            
              <a routerLink="/products/{{ product.id }}"> 
                <h6 class="card-text text-sm">{{ product.name }}</h6>
              </a>
            
             <p class="card-text"><small class="text-muted">{{ product.unitPrice | currency: 'USD' }}</small></p>
             
          </div>
          <div class="card-footer btn btn-outline-success">
            <a href="#"> Add to cart</a>
            </div>
        </div>
      </div>
  </div>
  
   <!--If product not found-->
   <div *ngIf="products?.length == 0" class="alert alert-warning col-nd-12" role="alert">
     No Product Found!!!
   </div>

    <!-- Pagination-->
    <div class="footer-pagination ">
      
            <div class="row ">
              <div class="col-md-9 d-flex justify-content-center" >
                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">
                    <!-- left-hand side: parameters of ngb-pagination component
                     right-hand side: properties of ProductListComponent
                   Event-binding pageChange event-->            
                </ngb-pagination>
              </div>
              <div class="col-md-3 justify-content-center" >
                 <span class="mr-2">Page Size</span>
  
                 <select (change)="updatePageSize($event.target.value)">
                   <option>2</option>
                   <option selected="true">5</option>
                   <option>10</option>
                   <option>20</option>
                   <option>25</option>
                 </select>
              </div>
              
            </div>
        
    </div>
  
  <!-- End of Pagination-->
   
   




  

</div>