<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h4 class="h3 mb-0 text-gray-800">Product Details</h4>

</div>

  <div class="card m-auto border-success" style="max-width: 540px;">
    

        <img src="{{ product.imageUrl }}" class="card-img-top p-0 border-success" alt="...">
   
      
        <div class="card-body">
          <h5 class="card-title text-center font-weight-bold">{{ product.name }}</h5>
          <p class="card-text">{{ product.description}}</p>
          <p class="card-text"><small class="text-muted">{{ product.unitPrice | currency: 'USD' }}</small></p>
       
        </div>
      
      
   
    <div class="card-footer ">
      <div class="row">
        <a class=" btn btn-outline-success col-6" href="#"> Add to cart</a>
        <a class=" btn btn-outline-danger col-6" routerLink="/products" >Back to Products List</a>
      </div>
      
    </div>
  </div>