<div id="wraper">
    <div id="content-wraper">
        <div class="container-fluid">
            <table class="table table-bodered">
                <tr>
                    <th width="20%">Product Image</th>
                    <th width="50%">Product Detail</th>
                    <th width="30%"></th>
                </tr>
                <tr *ngFor="let cartItem of cartItems">
                    <td>
                        <img src="{{ cartItem.imageUrl }}" class="image-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ cartItem.name }}</p>
                        <p> {{ cartItem.unitPrice | currency: 'USD' }}</p>
                    </td>
                    <td>
                        <div class="">
                            <label for="">Quantity:</label> {{ cartItem.quantity }}
                        </div>
                        <p class="mt-2">Subtotal: {{ cartItem.quantity * cartItem.unitPrice }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>              
                    <td style="font-weight: bold; ">
                        <p>Total Quantity: {{ totalQuantity }}</p>
                        <p>Shipping: Free</p>
                        <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
                    </td>
                </tr>
            </table>


        </div>
    </div>

</div>
