/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
/* @import '../node_modules/font-awesome/css/font-awesome.min.css'; */
@import '../node_modules/bootswatch/dist/cyborg/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css';


li list-group-item{
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff; 
  border: 1px solid rgba(0, 0, 0, 0.125);
}
